<div class="container col-md-6 mt-2">
  <h4>About The Organization</h4>
  <p>
    Great Black Moms is a community-based organization designed to understand the barriers that define black motherhood and work to eliminate them. Our mission is to Great. We define Great as Growing Resilience through Education, Advocacy and Togetherness. Together we strive to build strong communities.
  </p>
  <h4>About Infant Mortality</h4>
  <video class="InfantVideo" height="550" width="500" controls="controls" poster="/assets/img/Infant Mortality Video Place Holder.PNG">
    <source src="/assets/vid/Cradle Kalamazoo v9.mp4"/>
  </video>
  <h4>About The Founders</h4>
  <p>
    Jordan Ebanaya is a Detroit native and Grand Rapids transplant. She is a graduate student at Western Michigan University in the Family and Consumer Sciences Department and a graduate of Ferris State University’s Business School. With her current studies as a major in the Family Life Education field, she has spent over two years intently researching prenatal education and its connection to birth and family outcomes. Her combination of experience, education and passion have led to the creation of this organization with the goal of empowering and enhancing the experience of black motherhood. Jordan enjoys yoga, reading, travel and spending time with her husband, mom and friends.
  </p>
  <h4>Proposed Research Study</h4>
  <p>
    Location: Grand Rapids, Detroit, Kalamazoo Michigan Population: Unmarried Black women expecting their first child and prenatal/postpartum professionals who provide care for a similar demographic.
  </p>
  <p>
    This study is designed to understand if and how a prenatal coparenting program can help unmarried Black mothers in these select cities. We are now seeking Unmarried Black Moms-to-be to participate in the research. If selected to participate, you will receive a small gift card as a thank you and be entered into a drawing to receive a $100 gift card.
  </p>
  <p>
    We are also seeking professionals who work with Black expectant moms-to-be in Grand Rapids, Metro Detroit and Kalamazoo Michigan. Anyone who works in the following or similar positions [doctors, nurses, midwives, doulas, lactation consultants, childbirth educators, therapists, WIC professionals, community health workers, social workers, counselors, etc.] is invited to take a brief survey to help inform education offerings for Black Moms.
  </p>

  <h4>For more information about the study, please email jordan@greatblackmoms.org</h4>
</div>
