<div class='container-fluid'>

  <div class='col-12'>
  <ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/img/wordle.png" alt="Random first slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/footprints updated.png" alt="Random second slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/Rates updated.png" alt="Random third slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
  </div>
 
  </div>