<!-- <app-slider></app-slider>
<div class="wrapper">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center text-warning container-table">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Research Is About To Start!</h1>
            <p class="lead">
                Big change happens first with earnest scholarship.
            </p>
            <p class="lead">
                <a href="#" class="homebtn btn btn-lg btn-secondary">Learn More About The Research</a>
                <a href="#" class="homebtn btn btn-lg btn-primary">Register For The Research</a>
            </p>
        </main>
    </div>
</div> -->

<div fullpage id="fullpage">
    <div class="section sectionTest">
        <a href="#"><h1 class="researchBtn btn-outline-info">Research Has Begun!  Click to Learn More.</h1></a>
        <!-- <input type="button" class="researchBtn btn btn-lg btn-outline-info" value="Learn More About The Research"> -->
    </div>
</div>