body {
    background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.homebtn
{
    margin-left: 50px;
}

.sectionTest {
    width: 100vw;
    height: 100vh;
    background: url('../../assets/img/simon-matzinger-448263-unsplash.jpg');    
    background-size: 100% 100%;
    background-position: top center;
}

.researchBtn {
    text-align: center !important;
    display: Block !important;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}