.homebtn
{
    margin-left: 50px;
}

.sectionTest {
    background-image: url('../../assets/img/simon-matzinger-448263-unsplash.jpg');
    background-size: cover;
}

.researchBtn {
    text-align: center !important;
    display: Block !important;
}

.wrapper
{
    background-image: url('../../assets/img/cover-photo.jpg');
    /* width: 400px; */
    height: 700px;
    overflow: hidden;
    background-size: cover;
    
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}