<form [formGroup]="contactUsForm">
    <div class="form-group">
        <input type="text" class="form-control" formControlName="firstName" placeholder="firstName">
      </div>
        
      <div class="form-group">
        <input type="password" class="form-control" formControlName="lastName" placeholder="lastName">
      </div>
        
      <div class="form-group">
        <input type="password" class="form-control" formControlName="email" placeholder="email">
      </div>
  
      <div class="form-group">
        <input type="password" class="form-control" formControlName="contents" placeholder="contents">
      </div>
</form>