<div class="row">
  <div class="container col-md-6 mt-5">
    <h4>Contact Us</h4>
    <form [formGroup]="contactUsForm" (ngSubmit)="sendContact()">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="Your Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" placeholder="Your E-Mail">
      </div>
      <div class="form-group">
        <textarea class="form-control" formControlName="contents" placeholder="Your Message"></textarea>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success" type="submit">Send</button>      </div>
    </form>
  </div>
</div>