<div class="row">
    <div class="container col-md-6 mt-5">
      <h1>Participate in the research study</h1> 

      <p>The study has been approved by Western Michigan University!</p>

      <h3>Are you expecting a baby?</h3>
      <p>We are seeking expectant mothers to participate in this research study. We are looking for black women who are not married and are expecting their first child. We need your input to help create a prenatal coparenting program. You may be eligible to receive a gift card for participating!</p>
      
      <button type="button" class="btn btn-outline-primary mr-5" (click)="openModal(ExpectantMotherModal)">Take Expectant Mother Survey</button>

      <br/>

      <h3>Do you work with expecting families?</h3>
      <p>We are seeking professionals who work with expecting families to participate in this reseach study. If you are a: doula, midwife, lactation counselor, doctor, therapist or other professional who regularly sees clients who are expecting, we are looking for your input. </p>

      <button type="button" class="btn btn-outline-primary" (click)="openModal(WorkingWithFamiliesModal)">Take Working with Families Survey</button>

      <br/>
    </div>

    <ng-template #ExpectantMotherModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe class="ExpectantMotherFrame" src="https://wmucehd.co1.qualtrics.com/jfe/form/SV_9BUxEtHJNyWVQ1L"></iframe>
      </div>
    </ng-template>

    <ng-template #WorkingWithFamiliesModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe class="WorkingWithFamiliesFrame" src="https://wmucehd.co1.qualtrics.com/jfe/form/SV_6nzcy3ucyQSM1fv"></iframe>
      </div>
    </ng-template>

    <h4>For more information about the study, please email jordan@greatblackmoms.org</h4>
  </div>