<div class="row">
    <div class="container col-md-6 mt-5">
      <h4>Proposed Research Study</h4>
      <p>
        Location: Grand Rapids, Detroit, Kalamazoo Michigan Population: Unmarried Black women expecting their first child and prenatal/postpartum professionals who provide care for a similar demographic.
      </p>
      <p>
        This study is designed to understand if and how a prenatal coparenting program can help unmarried Black mothers in these select cities. We are now seeking Unmarried Black Moms-to-be to participate in the research. If selected to participate, you will receive a small gift card as a thank you and be entered into a drawing to receive a $100 gift card.
      </p>
      <p>
        We are also seeking professionals who work with Black expectant moms-to-be in Grand Rapids, Metro Detroit and Kalamazoo Michigan. Anyone who works in the following or similar positions [doctors, nurses, midwives, doulas, lactation consultants, childbirth educators, therapists, WIC professionals, community health workers, social workers, counselors, etc.] is invited to take a brief survey to help inform education offerings for Black Moms.
      </p>
      <p>
        If you would like to register to participate in this research, please enter your email address below and someone will get to you as soon as possible. You should receive an email immediately confirming your registration.
      </p>

      <form [formGroup]="studyRegistrationForm" (ngSubmit)="sendRegistrant()">
        <div class="form-group">
          <input type="text" class="form-control" name="registrantEmail" placeholder="Your Email Address">
          <button class="btn btn-success" type="submit">Send</button>
        </div>
      </form>

      <div class="btn-toolbar">
        <button type="button" class="btn btn-primary mr-5" (click)="openModal(ExpectantMotherModal)">Take Expectant Mother Survey</button>
        <button type="button" class="btn btn-primary" (click)="openModal(WorkingWithFamiliesModal)">Take Working with Families Survey</button>
      </div>
    </div>

    <ng-template #ExpectantMotherModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe class="ExpectantMotherFrame" src="https://wmucehd.co1.qualtrics.com/jfe/form/SV_71HeAjuudfBbG2p"></iframe>
      </div>
    </ng-template>

    <ng-template #WorkingWithFamiliesModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe class="WorkingWithFamiliesFrame" src="https://wmucehd.co1.qualtrics.com/jfe/form/SV_71HeAjuudfBbG2p"></iframe>
      </div>
    </ng-template>
  </div>